<header id="header" style="display: initial">
	<h1><a href="/">Muse</a></h1>
	<nav id="nav">
		<ul>
			<% if current_user %>
				<li><a href="/pages/user_home" method="get">APP</a></li>
				<li><%= link_to "HISTORY", search_history_pages_path, method: 'get' %></li>
				<li><%= link_to "LOG OUT", destroy_user_session_path,method: 'delete' %></li>
			<% else %>
				<li><a href="/">HOME</a></li>
				<li><a href="/users/sign_in">LOGIN</a></li>
				<li><a href="/users/sign_up">SIGNUP</a></li>
			<% end %>
		</ul>
	</nav>
</header>