<body class="landing">

	<!-- Header -->
		<%= render partial: "header" %>

	<!-- Banner -->
		<section id="banner">
			<h2>This is MUSE</h2>
			<p>A Music Recommendation App.</p>
			<ul class="actions">
				<li>
					<a href="#one" class="button big">Learn More</a>
				</li>
			</ul>
		</section>

	<!-- One -->
		<section id="one" class="wrapper style1 align-center">
			<div class="container">
				<header>
					<h2>Welcome to MUSE</h2>
					<p>A new generation music recommendation system.</p>
				</header>
				<div class="row 200%">
					<section class="4u 12u$(small)">
						<i class="icon big rounded fa-user"></i>
						<p>SignUp today to explore the new era of music, your era. Get ready to get MUSIC-struck.</p>
					</section>
					<section class="4u 12u$(small)">
						<i class="icon big rounded fa-search"></i>
						<p>Search for your favourite music artist and get the information and our recommendations.</p>
					</section>
					<section class="4u$ 12u$(small)">
						<i class="icon big rounded fa-clock-o"></i>
						<p>Our recommendation system works round the clock. So, get ready to listen to your favourite music whenever you want.</p>
					</section>
				</div>
			</div>
		</section>

	<!-- Two -->
		<section id="two" class="wrapper style2 align-center">
			<div class="container">
				<header>
					<h2>Well, Here you are.</h2>
					<p>While thee have travelled thus far, here are few more reasons to start right NOW.</p>
				</header>
				<div class="row">
					<section class="feature 6u 12u$(small)">
						<img class="image fit" src="/assets/pic02.jpg" alt="" />
						<h3 class="title">Leave Books, Get Muse.</h3>
						<p>Do not search the books for the information of your favourite artists. Just type it and get all the information of that artist as well as other artists like him.</p>
					</section>
					<section class="feature 6u$ 12u$(small)">
						<img class="image fit" src="/assets/pic04.jpg" alt="" />
						<h3 class="title">Travel, Listen, Enjoy</h3>
						<p>Get to know the kind of music you would love with our great recommendation system and have fun when travelling while listening to YOUR music.</p>
					</section>
				</div>
			</div>
		</section>

	<!-- Footer -->
		<footer id="footer">
			<div class="container">
				<div class="row">
					
					<section class="4u 6u(medium) 12u$(small)">
						<h3>Share</h3>
						<p>Share our app to help other people who are deprived of good music find what they need.</p>
					</section>
					<section class="4u 6u$(medium) 12u$(small)">
						<h3>Any help ? </h3>
						<p>Please feel free to contact us anytime. We will get back to you as soon as possible.</p>
					</section>
					<section class="4u$ 12u$(medium) 12u$(small)">
						<h3>Contact Us</h3>
						<ul class="icons">
							<li><a href="#" class="icon rounded fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon rounded fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon rounded fa-google-plus"><span class="label">Google+</span></a></li>
						</ul>
						<ul class="tabular">
							<li>
								<h3>Address</h3>
								1234 Kormangala<br>
								Bangalore, Karnatake - 567005
							</li>
							<li>
								<h3>Mail</h3>
								<a href="#">help@muse.com</a>
							</li>
							<li>
								<h3>Phone</h3>
								+91-9788963738
							</li>
						</ul>
					</section>
				</div>
			</div>
		</footer>

</body>
