<style>
#search-form{
	width:60%;
	margin-left: 25%;
	margin-top: 5rem;
}
#search{
	width:30rem;
	float:left;
}
.text{
	font-weight: bold !important;
	font-family: LatoLight;
	color: #696969 !important;
	display:inline !important;
}
#content{
	width: 70%;
	margin-left: 15%;
}
</style>
<div id="header">
	<%= render partial: "header" %>
</div>
<div id="search-form">
	<%= form_tag search_pages_path, :method => 'post' do %>
	  <p>
	    <%= text_field_tag :search, nil, placeholder: "Search your favourite artist" %>
	    <%= submit_tag "Search" %>
	  </p>
	<% end %>
</div>
<div id="content">
	<div class="row">
		<div id="artist-info" class="col-md-6">
			<% if @error_info.blank? %>
				<% if @artist_info %>
					<div class="text">Name: </div><a href="<%= @artist_info['url'] %>"><%= @artist_info["name"] %></a><br />
					<div class="text">Summary: </div><div id="summary"><%= @artist_info["bio"].html_safe %></div>
				<% end %>
				<br />
				<% if @top_tracks %>
					<div class="text">Top Tracks: </div><br /><br />
					<ul>
						<% @top_tracks.each do |track| %>
							<li><a href="<%= track['url'] %>"><%= track["name"] %> </a></li><br />
						<% end %>
					</ul>
				<% end %>
			<% end %>
		</div>
		<div id="related-artists" class="col-md-6">
			<% if @error.present? %>
				<div class="text">SIMILAR ARTISTS:</div><br /><br />
				<%= @error %>
			<% elsif @similar_artists %>
				<div class="text">SIMILAR ARTISTS:</div><br /><br />
				<ul>
					<% @similar_artists.in_groups_of(5, false).each do |group| %>
						<div class="row">
							<% group.each do |artist| %>
								<div class="col-md-4">
									<div class="artist">
										<li><a href="<%= artist['url'] %>"><%= artist["name"] %> </a></li>
									</div>
								</div>
							<% end %>
						</div>
						<br />
					<% end %>
				</ul>
			<% end %>
		</div>
	</div>
	<div class='row'>
		<div id="search-history">
			<% if @searched_artists %>
				<div class="text">SEARCHED ARTISTS' NAMES:</div><br /><br />
				<ul>
					<% @searched_artists.each do |artist| %>
						<li><%= artist %></li><br />
					<% end %>
				</ul>
			<% end %>
		</div>
	</div>
</div>
