<div id="header">
  <%= render partial: "pages/header" %>
</div>
<div class="container-home">

  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form"}) do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, placeholder: 'Email' %><br />
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "off", placeholder: 'Password'%><br />
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
